.container {
  padding: 22px 22px 0 22px;
  background-color: #302c42;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 5px;
  gap: 7px;
}

.brand img {
  height: 50px;
}

.title {
  font: 300 1.4rem "Poppins", sans-serif;
  color: #ffffff;
}

.img-logo {
  height: 46px;
  color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img {
  height: 300px;
}

.card {
  background-color: #ffffff;
  min-width: 400px;
  max-width: 600px;
  border-radius: 20px;
  position: absolute;
  top: 300px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.author {
  text-align: center;
}

.job {
  font-weight: bold;
  font-size: 15px;
}

.author-name {
  font-style: italic;
  font-size: 14px;
}

.author-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100px;
}

.slogan {
  font-style: italic;
}

.description {
  font-size: 14px;
}

.technologies {
  background-color: lightgray;
  min-width: 50px;
  padding: 5px 15px;
  border-radius: 15px;
  justify-self: center;
  text-align: center;
  font-size: 15px;
}

.github-img,
.demo-img {
  height: 20px;
}
